/* --- This is a comment ---*/
/*You can hover over various elements to recall what they do.*/
/* ---------------Box Sizing----------------- */
html {
    box-sizing: border-box; /*Changes the default property for block elements from content-box to border box (which resizes everything to fit within 220px horizontal by 220px vertical.) Content-box property adds like the margin,border and padding separately thus adding another 70px, total footpring =290px.) Need to know to ensure designed elements which are set to a px value are correctly sized and fitted. Better to set to border box! */
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
/*Can open "inspect" dialong box on actual websites and go to "elements" at the top and then to "computed" to see the box model used on that website. Can help understand and resolve dimensions and sizing issues.  */
/*The whole html block of code basically changes all block elements' content-box property to border box property. Then you don't have to do any math to figure out all the dimensions. Have it in every CSS style sheet! */

  /*---------------Utility Classes--------------------*/

  .container{ /*Target all container classes */
    max-width: 960px;
    width: 80vw;/*Content will fit 80% of the screen but once it hits over 960px then it won't grow beyond that. */
    margin:40px auto; /*Used to center block element. Sets margin of top and bottom at 40px thus keeping it centered. Auto keeps it at 40px centered even if screen is bigger or smaller.*/
  }

/*Created a class that takes the image and moves it over to the right and allows the content to wrap around to the left. */
.img-right{ /*Since this class is newly created, it must be added to the html doc in the img src line in between the image address and (alt) class*/
  float:right;/*moves image to the right*/
  margin:10px 0 10px 20px; /*margin adds space around the outside of the image and values represent ( top, right, bottom, left ) in order!*/
  border:5px solid #000000;/*IF were to separate px values for border then values must be represented clockwise or ( top, right, bottom, left ) in order! */
  padding:5px;/*Can use to frame the image meaning border that doesn't exactly touch the image but surrounds it like a border.*/
  border-radius:4px;/*Can round out the corners, but may have remove border for it work for the image specifically. Border radius values are represented as (top left), (bottom right). */ 
  background-color: brown;/*makes it look like it has a double border with different colors*/

}

/*Often times may have to create the inverse of the above code, just to have a different possible way to style the image. Only need to go back
to html doc and change the class from .img-right to .img-left*/
.img-left{/*need to change to opposite of above*/
  float:left;/*need to change to opposite of above*/
  margin:10px 20px 10px 0px;/*need to change to opposite of above*/
  border:5px solid #000000;
  padding:5px;
  border-radius:4px;
  background-color: brown;
}

/*Just another option to consider like above two but the text/content cannot flow on both sides as it won't be readable by screenreaders nor really usable!*/
.img-center{
  display:block; /*Diplay property default is inline so need to change to block so that you can later use margin and padding properties.Didn't need above two to be block elements as the text could wrap around the image and hence element needed to stay in default in line state.*/
  margin:20px,auto;/*top&bottom is 20px and left&right margin will be auto which means automatically adjusted*/
  border:5px solid #000000;
  padding:5px;
  border-radius:4px;
  background-color: brown;
}





  /*----------------Responsive images-----------------*/
  img{
    max-width:100%; /*Need in every stylesheet. Makes sure that images width does not exceed its parent.Makes images responsive to flexbox in #content or line 108.*/
  }/*Based on max width of container which is 960px, be sure to only load in images within the set px value.*/

  /* ---------------Global Styles----------------- */
  
  body{
    font-family: 'Roboto', sans-serif;;
    margin:0;/*Basically space around the outside. Sets margin values and creates a box that is away from the edge, equally from all sides.Hover over "margin" for better explanation.*/
    line-height: 1.4rem;/*Allows you to set the default height of each line. Kinda like line spacing on Word. 20px or 1.4 rem ish is close to the default line height.*/
  }
    header.primary{/*target header element with a class of primary, hence period is used. IF there was a space before the period then it would mean target an element with a class of primary inside the header element.  */
      background-color: aqua;

      /*Visit (https://heropatterns.com/) to add background patterns like below two lines (line 39 & 40)
       Delete or comment out line 39 to preserve orginal background color choice*/
      /*background-color: #DFDBE5;*/
      /*For background-image change known elements like fill opacity value or fill which has %23 in front which is just character encoding for # sign and the rest values are hexidecimal values for colors.*/
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%239C92AC' fill-opacity='0.2' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");


      text-align: center;/*Align text left, center, justified, right (Be sure to check in preview to see if it works.)*/
      text-shadow: 1px 1px #000000; /*1px is x value and 10px is y value. It moves text shadow 1 px to the side and 10px down. Can also put in another pixel value after 10px, new px value will move shadow up. The third one in the list is color of the text shadow.*/
      color:#ffffff; /*Changes color of the text, not the hyperlinks which have a specfic style that has not been overriden by CSS yet!*/
      /* Long Form - For block level elements like block quote, header, ordered/unordered list, paragraphs, h1-h6, etc */
      padding-top: 40px;/*Basically space around the inside of an element.*/
      padding-right: 40px;
      padding-bottom: 40px;
      padding-left: 40px;
      /*Top,Right,Bottom,Left - Have to go clockwise. Short Form examples below for setting padding dimension for a single block element.*/
      padding: 40px,40px,40px,40px;
      /*Single Value Applies to all sides*/
      padding: 40px;
      /*top/bottom | left/right*/
      padding: 20px 40px; /*Changes result because last one is overrides, the set padding values above.*/
      /*You can use either way for padding. Use the one based on how much control you want. All examples of padding do not pile on since they express the same value. Essentially all examples are equal to each other hence no impact on final result. Only showing different ways of writing code for setting padding dimensions.*/
    }
    header.primary h1{ /*Allows you to target heading 1 ONLY to change visually*/
      font-size:2.6rem;/*Font size of the root element = rem.Basically the equivalent of the base font size of the document. Default is 16px = 1 rem. Is one of the many unit values in CSS and it allows you to set font size in this case*/
      margin:10px 0 20px;
    }

    header.primary h1 a {/* allows you to target the hyper link in heading 1. Lets u change its visual look. Remember by default hyperlink is underlined. Don't underline (which u can do through the text decoration attribute)*/
      color: #ffffff;
      text-decoration:none;
    }
    header.primary h2{
      font-size: 1.6rem;
      /*Top | Left/Right | Bottom*/
      margin:0px auto 40px;
    }

    header.primary nav{ /*targets the nav element in the html document.*/
      background:aquamarine;
      width:80vw;/*Another unit value in CSS. vw = view port. This says that the width of the nav element is set to 80% of the view port. */
      max-width: 900px; /*Max width says never get bigger than the set value, which in this case is 900px*/
      margin:20px auto; /*auto keyword keeps the magin at 20px on left and right and keeps it that way regardless of u zoom in or zoom out.*/
    }

    header.primary nav ul{ /*targets the ul or unordered list in the nav element.*/
      padding:0;/*Helps the bulleted items of the unordered list stay within certain set parameters*/
      display:flex; /*Makes the nav ul from a displayed vertial list to a displayed horizontal list. Check out CSS tricks website (https://css-tricks.com/snippets/css/a-guide-to-flexbox/) for more info regarding flex attribute */ 
      flex-direction: row; /*Makes it each individual list element a row. Row reverse value will change the order of the list when displayed. So the last list elment will be displayed first. Backwards to forwads list elements will be displayed.*/
      justify-content: space-evenly; /*Spaces out the individual elements in the list.*/

    }
    header.primary nav ul li {/*targets the li or list item in the ul or unordered list as a whole which is in the nav element.*/
      list-style-type: none;/*none attribute means taking away the bullets. Can use to change the bullets in the bulleted list to different character such as a different images like letter or number or even emojis. Visit website for examples (https://developer.mozilla.org/en-US/docs/Web/CSS/list-style-type)*/
    }

    header.primary ul li a{/*Targets each of the list items*/
      color:#ffffff;/*Sets unordered list's items (aka the hyperlinks) color to white*/
      text-decoration: none;/*Removes the underline of the hyperlinks or unordered list items*/
      /*background-color: #000000;/*Sets background color to black of the hyperlinks or unordered list items*/
      background-color: rgba(0,0,0,.5); /*Last rgba value (.5) is a opacity value, can make color more transparent or opaque. rgba for white is 255, 255, 255. For black it is 0,0,0. rgba is just another way to set the color of the row containing the individual list elements. */
      padding: 8px 16px;/*Puts a little space around the edges of the unordered list items*/
      border-radius: 20px; /*Softens or rounds out the corners of the unordered list item. Can add more values and put a differnt value for each corner.  */
      transition:2.5s; /*Takes 2.5 seconds to glow up when user hovers over one of the hyperlinks or individual list elements.*/
      border: 1px dashed rgba(0,0,0,.5); /*Px value sets thickness. Changes border to solid, double, dotted border, dashed border. rgba value sets color.*/
      
    }
/*Four states of hyperlinks include link, visited, hover, and active or l.v.h.a*/
    header.primary ul li a:hover,
     header.primary ul li a:active{
      background-color: rgba(0,0,0,.8); /*When user hovers over row elements then this rgba value overides the previous rgba value and darkens that element when user hovers over the row element. Make sure to put the transition attribute in header.primary ul li a , so that it applies to the bottom code as well. */
      
    }

    #intro h2{/*targetted id intro element in h2. Can do this pound # method because this id element has unique identifier of intro*/
      color:aqua;
      border-bottom: 1px dotted #c0c0c0;
    }
     
    #content{/*targetted id content element in h2. Can do this pound # method because this id element has unique identifier of content*/
      display:flex;/*need display flex, flex direction and justify content to use flex box to position elements. Images may be non flexible!*/
      flex-direction:row;/*Lines 22 to 26 makes images responsive to the flex box*/
      justify-content:space-evenly;
      border-bottom: 1px dotted #000000;/*border-bottom and padding offsets the content block (containing img and captions)from the sidebar element below it.*/
      padding: 2.8rem 0;/*Visually eye ball the value so there is equal space towards bottom&top of the content block */
      border-top: 1px dotted #000000;
      /*padding-top: 2.8rem;*//*Can declare padding top&bottom separately or make one solor padding property and add a single value for top&bottom and another value for left&right. Like did above.*/
      /*padding-bottom:2.8rem;*/
    }

   #content article.post{/*Will select all articles with the class of post and use the id content or #content for more specificity.NO SPACE BEFORE! */
    width:30%;
    box-shadow:0 4px 8px rgba(0,0,0,.4);/*Last rgba value is opacity value. Box shadow puts a shadow around box element*/
    padding:10px;/*Adds space to the inside of box element*/
    border-radius:4px;/*Rounds out the edge of box element*/
    font: size 0.7rem;/*Sets the font size for the box element*/
   }
   #content article.post:hover{ /*When you hover over the content article.post element, it will display a box shadow with as listed color and dimensions(px).*/
    box-shadow:0 8px 16px rgba(0,0,0,.3);
   }


/*Use .post-date not # post-date cause post-date is not an id like content is. (.post-date) can only be used if it wasn't used in other context.*/
/*Add specificity before (.post-date) to better target it. Can do time.post-date (targets post-date in the class) 
or content.post-date (targets post-date in the id content) or article time.post-date (targets post date in article and time class.) 
These are varying levels of specificity that targets the same attribute of (post-date). */

/*can put comma and write figcaption to also target the image caption and apply the same code as time.post-date.Same goes for footer.post-meta*/

time.post-date, figcaption, footer.post-meta{
  text-transform:uppercase; /*Other attributes include uppercase, lowercase, capitalize(will capitalize the first letter of every word). */
  color:#c0c0c0;
  font-size: .6rem;
}

/*targetting figures inside an element class of post. (figure) contains image and caption and has comes with a preset default margin which you
can overide by setting your own margin to make the figure and captions more appealing on the webpage. Adding margin value opens up space outside
the element.*/

.post figure{
margin:0;
}

/*Targets specifically the images within the figure element that is under post.*/
.post figure img{
border: 3px double #c0c0c0;/*border has 3 values which are dimensions, stroke (like solid,double, dotted, dashed, etc.) and color*/
padding:4px;/*Frames up the image by adding space to the inside using padding property*/
background:black;/*Can use background to color the padding as there is no padding color property. Can later increase thickness of (border) to add a double frame.*/
border-radius: 4px;/*Round out the border to soften the corners*/
}

/*Target hyperlinks using the tag a and the hyperlinks are under post element class*/

.post a{
color: #3b638b;
}

/*For hyperlinks to lose the underline when an user hovers over them or the link is active*/

.post a:hover,.post a:active{
text-decoration: none;
}


/*Add id demo after .post code and before aside code because that is the same placement as the document you are building. 
Here Used 1st lesson's html and style it with css*/

#demo h2{
  border-left: 7.5px solid aqua;
  padding-left:10px;
}

#demo a{
  color:rgb(5, 248, 167);
}

/*Type selector table created to add css to table in html*/

table{/*Properties affect whole table block, outer border mostly in this case*/
  border: 2px solid #000000;
  border-collapse: collapse;/*This property is only specifically only for table*/
  width: 100%;
}

tr:nth-child(even){/*Properties affect all rows of table. Using nth-child and adding a integer or keywords such as even or odd you can target certain rows within table and add css to them specfically. Visit (https://css-tricks.com/useful-nth-child-recipies/) for more ideas*/
  background-color: #05f4f8;
}


tr:hover{/*Allows the row to get darker when user hovers over a specfic row*/
  background-color:rgba(58, 197, 199,.90);
}



th{/*Properties affect first row with the column headings*/
  background-color:rgba(58, 197, 199);
  color:#ffffff;
  padding:10px;/*Adding space inside of the first row to let column heading have more room visually*/
}

td{/*Properties affecct each individual data cell*/
  border: 1px solid #000000;
  padding: 5px;/*Adding space inside of each data cell to have more room visually for content in each data cell*/
  width:33%;/*Makes it table's columns equal*/
  text-align: right;/*Align data cell data to the right*/
  
}


td:first-of-type{/*Aligns only first column's data to the left*/
  text-align: left;
}

/*Targets ordered list which is under id demo*/

#demo ol{
  list-style-type: upper-alpha;/*Used to change the values attached to the list items (also called list item attachments).upper-alpha changes values to capital letters.*/
}

/*Targets unordered list which is under id demo*/
#demo ul{
  list-style-type:square;/*list item attachments changed to square*/
}

/*Targets nested list under the unordered list under id demo. To target lists nested inside other nested lists just add more "ul"*/
/*Helpful resource (https://caniuse.com/) to confirm if you can use certain properties*/

#demo ul ul{
  list-style-type:circle;/*list item attachments of nested list under ul changed to circle*/
  color:crimson;/*only nested list items color changed */
}

/*Targets description list which is under id demo*/

#demo dl{
                  
}

/*Targets the term in the description list which is under id demo*/

#demo dt{
  font-weight:bold;/*This is how to bold using css. Font-weight property takes values from 100 to 900 and also uses keywords: bold,bolder,lighter*//*Can use google fonts to see how bold text is in a certain font if numerical values were used. */
}

/*Targets the description in the description list which is under id demo */

#demo dd{
  margin:0;/*dd Has margin space in front by default can alter by setting margin to 0*/
}

/*Adjacent sibling combinator. Trying to target dt (term) that is immediately under/followed by a dd (description). To test property you can simply set a color.*/

dd + dt {
  margin-top: 20px;
}


/*To target the block quote under id demo*/

#demo blockquote{
  background-color: #01cefc6b;
  padding: 20px 40px;
  border: 5px double #079eea;
  border-radius: 6px;
}

/*To target the cite under id demo*/
#demo cite{
  display: block;
  font-size: .7rem;
  text-align: right;
  font-weight: bold;
  margin-top: 10px;
}


/*Target the sidebar content. To do so use an attribute selector */
/*This is what attribute selector looks like, includes section name and then the exact attribute name with brackets.*/

aside[role="complementary"]{
background-color: #00d5ff;
color:white;
padding:1.4rem;
}  

/*Set up flex container which contains all the flex items. use aside .container to target all the flex items within the aside container.
aside contains sidebar items. */

aside .container{ /*Be sure to put space in between aside and .container cause container is inside aside and that is what we are targetting.*/
  display:flex;
  justify-content:space-evenly;
  flex-direction: row;/*flex-direction options: row, row-reverse, column, column-reverse*/
  
}

/*To target the flex item you can say aside .container .widget (make sure to put spaces since container inside aside and widget inside container)*/

aside article.widget { /*Can also say this to target just the flex item or just the one sidebar column*/
width:45%; 
}

/*To target the Read More hyperlink within the sidebar use a for the hyperlink and aside article.widget to specify which hyperlink. */
aside article.widget a:last-of-type{ /*Use last-of-type to specifically target the bottom hyperlink in case there are hyperlinks before that. There is also firt-of-type to select the first hyperlink if used in this case.*/
  color:#ffffff;
  display:block;/*hyperlinks are by default an inline element so you should change it to block to give it its own line!*/
  margin-top: 20px;/*Set margin top to make some space between hyperlink and above paragraph*/
  text-align: right;/*Right align text for aesthetic and organization purposes. */
  }

  aside article.widget a{
    color:white; 
  }

aside article footer {/*To target the footer which is labeled as widget footer in html and it doesn't have any text hence not required */
  display: none;/*To stip the widget footers away. (none) property visually doesn't display the footer. Also prevents screen readers from reading the content. Good for hiding mistakes or if there is an obsolete element that may not be required then you can hide it away*/
}


/*(aside article.widget h2) will target the heading text of the sidebar*/

#colophon{ /*Unique ID hence can use hashtag to target it*/
  background-color: aqua;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%239C92AC' fill-opacity='0.2' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");

}

#colophon h6{ /*Targets the last heading space containing your name and 2022. Padding and margin increases the space within and around the element.*/
  padding:20px;
  margin:0;
  color:white;
  text-align: center;
  font-size: .9rem;
  text-transform: uppercase;
}


    /*------------------------------------Media Queries (KEEP AT BOTTOM)--------------------------------------------------------*/

    @media screen and (max-width:650px){ /* Helps preserve elements size display when webpage is opened in a smaller screen such as phone. No semicolon required at the end.Need to test using the preview to figure out what you max width is. You need to mess with it, to see how you want your webpage to display on a smaller screen versus larger screens.Media attribute can be screen, or print or all. Print media is rarely used and all media can be used to target all types of media.*/
      header.primary nav ul{
        flex-direction: column;/*Displays the unordered list as a column instead of row when screen width is max-width is 650px*/
      }
      header.primary nav ul li a{
        display:block;/*Displays nav ul li a links as block element*/
      }
      header.primary nav li{
        margin-bottom:10px; /*Puts margins on the nav list elements, adds space below the list elements.*/
      }
      }

